/* CSS to style the arrow icon */
.arrow-link {
    position: fixed;
    bottom: 1px;
    left: 1px; /* Adjust as needed */
    z-index: 9999; /* Ensure the arrow appears on top of other content */
}

.arrow-icon {
    width: 100px; /* Adjust size as needed */
    height: auto;
}
